.blockListsTasks {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.blockList {
    display: flex;
    flex-direction: column;
    width: 302px;
    background: gray;
    border: 1px solid black;
    border-radius: 15px;
    padding-bottom: 20px;
}
